.app {
  text-align: center;
}

.app-header {
  background-color: #ed254e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f9dc5c;
}

.card-img {
  width: 200px;
  height: 200px;
}

.info {
  text-align: center;
}

.info h1 {
  color: #f9dc5c;
}

.bg-dark {
  background-color: #ed254e !important;
}

.nav-link {
  color: #f9dc5c !important;
}

body {
  background-color: #ff8c33;
}
